<div ng-controller="signup">
  <h2>Signup!</h2>
  <form>
    <span>Name:</span>
    <input type="text" ng-model="user.name">
    <br>
    <span>Email:</span>
    <input type="text" ng-model="user.email">
    <br>
    <span>Password:</span>
    <input type="password" placeholder="Minimum 8 characters" ng-model="user.password">
    <br>
    <span>Phone Number:</span>
    <input type="tel" placeholder="(###) ###-####" ng-model="user.phoneNumber">
    <br>
    <div>How important is mental improvement to you:</div>
    <input type="range" min="1" max="100">
    <br>
    <div>How important is physical improvement to you:</div>
    <input type="range" min="1" max="100">
    <br>
    <button type="submit">signup!</button>
  </form>
</div>